{% extends 'base\\base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/registration_and_login.css' %}">
{% endblock %}

{% block content %}
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

<form method="POST">
  {% csrf_token %}
  <input type="hidden" name="username" value="registered_user">
  <div class="control">
      <div class="text-center">
      <h4>Регистрация на сайте</h4>
      </div>
      <div class="row" id="first_row">
          <div class="col-5">
            <input type="text" name="first_name" placeholder="Имя" required class="form-control">
          </div>
          <div class="col-5">
                <input type="text" name="last_name" required class="form-control" placeholder="Фамилия">
          </div>
      </div>
      <div class="form-group">
            <input type="email" name="email" class="form-control" required placeholder="Email">
      </div>
      <div class="row">
          <div class="col-5">
            <input type="password" name="password1" required class="form-control" placeholder="Пароль">
          </div>
          <div class="col-5">
            <input type="password" name="password2" class="form-control" required placeholder="Повторите пароль">
          </div>
      </div>
  </div>
  <button type="submit" class="btn btn-outline-primary">Создать аккаунт</button>
</form>


{% endblock %}

